<div class="row">
  <div class="large-6 columns">
    <label>Credit Card Holder's Name <small>required</small></label><br>
    <%= f.text_field :cc_name, :"required" => "true", :'placeholder' => "Joseph M. Larson" %>
    <small class="error">Please provide the name associated with this credit card.</small>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <label>Credit Card Number <small>required</small></label><br>
    <%= f.text_field :cc_number, :"required" => "true", :'placeholder' => "4012888888881881" %>
    <small class="error">Please provide the name credit card number.</small>
  </div> 
</div>

<div class="row">
  <div class="large-2 columns">
    <label>Credit Expiration Month <small>required</small></label><br>
    <%= f.text_field :cc_exp_month, :"required" => "true", :'placeholder' => "03" %>
    <small class="error">Please provide the credit card expiration month.</small>
  </div>

  <div class="large-2 columns">
    <label>Credit Expiration Year <small>required</small></label><br>
    <%= f.text_field :cc_exp_year, :"required" => "true", :'placeholder' => "2016" %>
    <small class="error">Please provide the credit card expiration year.</small>
  </div>

  <div class="large-2 columns">
    <label>Credit Card CVV Code <small>required</small></label><br>
    <%= f.text_field :cc_code, :"required" => "true", :'placeholder' => "321" %>
    <small class="error">Please provide the credit card CVV code from the back of the card.</small>
  </div>
  <div class="large-6 columns"></div>

</div>