<div id="pet-priority-selections" style="display:none" >
  <hr />
  <%= f.hidden_field :pet_categories %>

  <%= check_box  :pet_category_selection, :'100', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>100</strong> Bowls &amp; Feeding Devices<br/>

  <%= check_box  :pet_category_selection, :'101', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>101</strong> Cages, Crates, Houses &amp; Kennels<br/>

  <%= check_box  :pet_category_selection, :'102', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>102</strong> Litter, Pans &amp; Excrement Items (all poop items)<br/>

  <%= check_box  :pet_category_selection, :'103', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>103</strong>  Leashes, collars, tie downs, dog runs &amp; restraining items<br/>

  <%= check_box  :pet_category_selection, :'104', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>104</strong>  Muzzles, training aids, fencing, etc.<br/>

  <%= check_box  :pet_category_selection, :'105', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>105</strong>  Grooming, Hygiene/Medical &amp; Vitamin Supplements<br/>

  <%= check_box  :pet_category_selection, :'106', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>106</strong>  Foods (dogs &amp; cats)<br/>

  <%= check_box  :pet_category_selection, :'107', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>107</strong>  Treats (dogs &amp; cats)<br/>

  <%= check_box  :pet_category_selection, :'108', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>108</strong>  Small animal items (reptile, hamster, exotics, etc.)<br/>

  <%= check_box  :pet_category_selection, :'109', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>109</strong>  Pet Bird Supplies<br/>

  <%= check_box  :pet_category_selection, :'110', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>110</strong>  Rawhide/Chews<br/>

  <%= check_box  :pet_category_selection, :'111', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>111</strong>  Insect, Pest Control &amp; Traps (fleas, tick, etc.)<br/>

  <%= check_box  :pet_category_selection, :'112', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>112</strong>  Literature, Books, Videos, Software, “How To”, D-I-Y<br/>

  <%= check_box  :pet_category_selection, :'113', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>113</strong>  Bedding, Shavings, etc.<br/>

  <%= check_box  :pet_category_selection, :'114', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>114</strong>  Furniture, Pet Beds, Scratching posts, etc.<br/>

  <%= check_box  :pet_category_selection, :'115', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>115</strong>  Toys (dogs &amp; cats)<br/>

  <%= check_box  :pet_category_selection, :'116', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>116</strong>  Stain &amp; Odor Control<br/>

  <%= check_box  :pet_category_selection, :'117', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>117</strong>  Pet Clothing &amp; Accessories<br/>

  <%= check_box  :pet_category_selection, :'118', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>118</strong>  Gift, Novelty, Christmas &amp; Specialty<br/>

  <%= check_box  :pet_category_selection, :'119', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>119</strong>  Aquarium Supplies &amp; Food<br/>

  <%= check_box  :pet_category_selection, :'120', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>120</strong>  Wild Bird Items<br/>

  <%= check_box  :pet_category_selection, :'121', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>121</strong>  Pond/Koi Supplies<br/>

  <%= check_box  :pet_category_selection, :'122', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>122</strong>  Equine Products (Excluding apparel, jewelry, novelty &amp; gift items)<br/>

  <%= check_box  :pet_category_selection, :'123', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>123</strong>  Veterinarian Supplies<br/>

  <%= check_box  :pet_category_selection, :'124', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>124</strong>  Pet Travel Products<br/>

  <%= check_box  :pet_category_selection, :'125', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>125</strong> 100% Natural &amp; Organic Products<br/>

  <%= check_box  :pet_category_selection, :'126', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>126</strong> Close-Out Items Only (Packaging Changes, Overstocks, Etc.)<br/>

  <%= check_box  :pet_category_selection, :'127', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>127</strong> Made in the USA (No imported Items)<br/>

  <%= check_box  :pet_category_selection, :'128', :"required" => "true", class: 'pet_category_selection' %> 
  <strong>128</strong> Pet Urns, Markers &amp; Headstones<br/>
</div>