<%= 
form_for @registration, :html => {:class => "custom", :'data-abide' => "true"}  do |f| 
#form_for @registration, :html => { :'data-abide' => "true"}  do |f| 


  %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row" style="background-color: #000;">
  <div class="large-12 columns text-center">
    <h3 style="color: #FFF; font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;">VENDOR REGISTRATION</h3>
  </div>
</div>

<!-- Company Info -->
<%= f.fields_for :companies, @registration.company do |builder| %>
  <%= render 'company_fields', f: builder %>
<% end %>  
<!-- End Company Info -->

<!-- POP Spaces -->
<%= render 'pop_space_fields', f: f %>
<!-- End POP Spaces -->

<!-- Prototype Spaces -->
<%= render 'proto_space_fields', f: f %>
<!-- End Prototype Spaces -->

<!-- VIA Start -->
<%= render 'via_fields', f: f %>
<!-- VIA End -->

<!-- L&G Priority Selection Start -->
<%= render 'lg_priority_selections', f: f %>
<!-- L&G Priority Selection End -->

<!-- Pet Products Selection Start -->
<%= render 'pet_priority_selections', f: f %>
<!-- Pet Products Selection End -->

<!-- Loyalty Discount Start -->
<%= render 'vendor_loyalty_discount_fields', f: f %>
<!-- Loyalty Discount End -->

<!-- Conference Terms Start -->
<%= render 'conference_terms',f: f %>
<!-- Conference Terms End -->

<!-- Payment Start -->
<%= render 'payment_fields', f: f %>
<!-- Payment End -->




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
