<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @industry.company_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @industry.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @industry.description %>
</p>

<%= link_to 'Edit', edit_industry_path(@industry) %> |
<%= link_to 'Back', industries_path %>
