<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @vendor.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @vendor.division %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vendor.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @vendor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @vendor.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @vendor.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @vendor.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @vendor.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @vendor.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vendor.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vendor.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
