<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @buyer.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @buyer.name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @buyer.division %>
</p>

<p>
  <strong>Address:</strong>
  <%= @buyer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @buyer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @buyer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @buyer.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @buyer.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @buyer.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @buyer.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @buyer.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @buyer.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @buyer.description %>
</p>

<%= link_to 'Edit', edit_buyer_path(@buyer) %> |
<%= link_to 'Back', buyers_path %>
